@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,500&family=Great+Vibes&family=Gulzar&family=Inter:wght@600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,300;0,600;0,700;1,100;1,600;1,700&family=Katibeh&family=Montserrat:ital,wght@0,100;0,400;1,100;1,400&family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}




/* WHAT WE OFFER SECTION START */

.What-We-offer-Section {
    display: flex;
    flex-direction: column;

    padding: 20px;
    gap: 50px;

    margin: auto;
    margin-top: 670px;

    height: auto;
    width: 100%;
}

.Box-Title {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;

    width: 100%;
}

#WW0 {
    color: #c6a16e;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-weight: 500;

    margin: auto;
    margin-bottom: 50px;
}

#WWOTC {
    color: #c6a16e;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;

    margin: auto;
}

.Offer-Cards-Container {
    border: 1px solid white;
    display: grid;

    margin: auto;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;

    width: 90%;
}

#Service-Number {
    color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 60px;
    top: 30px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: #c6a16e;
    font-size: var(--text);
    transition: 0.5s all ease-in-out;
}

.Offer-Card {
    display: flex;
    flex-direction: column;

    margin: auto;

    height: 640px;
    width: 300px;
}

.Service-Image-Container {
    width: 300px;
    height: 340px;
    overflow: hidden;
}

.Service-Text-Container {
    width: 300px;
    height: 340px;
}

#Card-Title {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-size: 35px;
    font-weight: 400;

    margin: auto;
    margin-bottom: 30px;

    line-height: 1.5;
    transition: 0.7s all ease-in-out;
}

#Card-Description {
    color: grey;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    margin: auto;
    margin-top: 10px;

    line-height: 1.5em;
}

#Service-Image {
    transition: 0.7s all ease-in-out;
}


#Service-Image:hover {
    transform: scale(1.2);
}
  
#Service-Number:hover {
color: #c6a16e;
background-color: white;
}
  
.Offer-Card:hover #Service-Image {
    transform: scale(1.2);
}
  
.Offer-Card:hover #Service-Number {
    color: #c6a16e;
    background-color: white;
}
  
.Offer-Card:hover #Card-Title {
    color: #c6a16e;
}

.Offer-Card:hover #More-Icon {
color: white;
}

#Card-Title:hover  {
color: #c6a16e;
}

/* WHAT WE OFFER SECTION END */


/* HISTORY SECTION START */

.History-Card-Container {
    display: flex;

    position: relative;

    margin: auto;
    margin-top: 300px;
    margin-bottom: 100px;

    height: 580px;
    width: 1200px;
}

.Video-Card {
    background-image: url(../../../Assets/Images/Gallery/videobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    position: absolute;
    left: 0px;
    top: 0px;

    /* margin: auto;
    margin-left: 0px;
    margin-top: 0px; */

    height: 480px;
    width: 560px;
}

.pulse-container {
    position: relative;
    left: 0%;
    top: 43%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  .pulse{
    border-radius: 50%;
    border: 5px solid transparent;
    width: 80px;
    height: 80px;
    position: absolute;
    z-index: -1;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-delay: 0.5s;
    transition: ease-in-out;
    animation-iteration-count: infinite;
  }
  @keyframes pulse {
    0% {
      border: 5px solid #c6a16e;
    }
  
    40% {
      width: 140px;
      height: 140px;
      border: 0px solid transparent;
    }
  }

  .pulse-container:hover .pulse {
    animation-name: pulse-white;
  }
  
  @keyframes pulse-white {
    0% {
      border: 5px solid white;
    }
  
    40% {
      width: 140px;
      height: 140px;
      border: 0px solid transparent;
    }
  }


#CircularPlayIcon {
  color: white;
  font-size: 80px;
  transition: 0.5s all ease-in-out;

}

#CircularPlayIcon:hover {
    color: #c6a16e;
}

.History-Information-Card {
    background-color: #f4efe6;

    display: flex;
    flex-direction: column;

    padding: 40px;

    position: absolute;
    right: 0px;
    bottom: 0px;

    z-index: -1;
    
    /* margin: auto;
    margin-right: 0px;
    margin-bottom: 0px; */

    height: 480px;
    width: 700px;
}

.History-Text-Container {
    display: flex;
    flex-direction: column;

    margin: auto;

    height: 90%;
    width: 500px;
}

.History-Text-Container > h3 {
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 700;

    margin: auto;
    margin-top: 0px;
    margin-left: 0px;

}

.History-Text-Container > p {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400px;

    margin: auto;
    margin-top: 0px;

    text-align: left;
    line-height: 32px;
}

.MoreLink {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: #c6a16e;
    color: white;
    font-size: 14px;
    width: 160px;
    height: 54px;
    letter-spacing: 1.5px;
    transition: 0.5s all ease;
  }
  
  .MoreLink:hover {
    transform: scale(1.05);
  }



/* HISTORY SECTION END */


/* CLIENT FEEDBACK START */

.Feedback-Container {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 300px;

    width: 100%;
}

.Feedback-Slider {
    display: flex;

    justify-content: center;

    margin: auto;

    width: 1000px;
}

.d-block {
    margin: auto;
    width: 100%;
    height: 100%;
}



/* CLIENT FEEDBACK END */



/* OUR LOCATIONS SECTION START */

.Our-Location-Section {
    display: flex;

    margin: auto;
    margin-top: 300px;
    margin-bottom: 100px;

    height: 1200px;
    width: 100%;
}

.Visit-Our-Tailors-Box {
    display: flex;
    flex-direction: column;

    margin: auto;
    padding: 20px;

    height: 400px;
    width: 550px;
}

.Visit-Box-Title {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 0px;
    margin-bottom: 50px;


    width: 100%;
}

#OurLocatiion {
    color: #c6a16e;
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-weight: 500;

    margin: auto;
    margin-bottom: 20px;
}

#VisitOurTailors {
    color: #c6a16e;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 600;

    margin: auto;
}


#locationDescription {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    margin: auto;
}

#emails {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    margin: auto;
}

.openingHours {
    display: flex;
    flex-direction: column;

    margin: auto;
    margin-top: 20px;
}

#openingHours {
    color: white;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    margin: auto;
    margin-bottom: 10px;
} 




.Huge-Picture-Board {
    background-image: url('../../../Assets/Images/Gallery/visit_bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


    display: flex;
    align-items: flex-end;
    justify-content: center;
    z-index: 0;


    

    margin: auto;
    margin-right: 0px;

    height: 100%;
    width: 50vw;

}

.Ten-Percent-Off-Box {
    background-color: rgba(198, 161, 110, 0.533);
    padding: 60px 50px;
    text-align: center;
    margin-bottom: 50px;
}

.Ten-Percent-Off-Box h1 {
    color: white;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;;
}

.GetOfferLink {
    outline: none;
    border: none;
    text-decoration: none;
    background-color: black;
    color: white;
    font-size: 14px;
    width: 160px;
    height: 54px;
    letter-spacing: 1.5px;
    transition: 0.5s all ease;
  }



/* OUR LOCATIONS SECTION END */



/* LOREM SLIDER START */

.Lorem-Slider {
    border: 1px solid rgba(198, 161, 110, 0.231);

    display: flex;
    flex-direction: column;

    justify-content: center;

    margin: auto;
    margin-top: 300px;

    height: 350px;
    width: 85%;
}

.Text-Container {
    text-align: center;

    margin: auto;

    width: 80%;
}

.Text-Container > p {
    margin: 60px 30px 0 60px;
    font-size: 24px;
    text-align: center;
    color: white;
}

.Lorem-Slider > .Text-Container > .carousel-control-prev {
    position: absolute;
    left: -90px;
}

.Lorem-Slider > .carousel-control-next {
    position: absolute;
    right: -90px;
}

.Lorem-Slider > .carousel-indicators {
    position: absolute;
    bottom: -90px;
}


/* LOREM SLIDER END */

@media only screen and (max-width: 1300px) {
    .History-Card-Container {
        border: 1px solid white;

        height: 500px;
        width: 76%;
    }

    .Video-Card {
        height: 380px;
        width: 450px;
    }

    .History-Information-Card {
        height: 420px;
        width: 560px;
    }

    .History-Text-Container {
        width: 400px;
    }
}

@media only screen and (max-width: 1050px) {

    .What-We-offer-Section  {
        margin-top: 300px;
    }

    .Offer-Cards-Container {
        grid-template-columns: 1fr 1fr ;
    }

    .History-Card-Container {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: auto;
        width: auto;
    }

    .Video-Card {
        height: 483px;
        width: 80vw;
        position: initial;
    }

    .History-Information-Card {
        height: 457px;
        width: 80vw;
        background-color: #f4efe6;
        margin-top: 60px;
        position: initial;
        margin-left: 0px;
        z-index: 1;
    }

    .History-Text-Container {
        margin-left: 10px;
    }

    .Feedback-Slider  {
         width: 80%;
    }

    .Our-Location-Section {
        height: 550px;
    }

    .Visit-Our-Tailors-Box {
        border: 1px solid white;
        height: 350px;
    }

    #VisitOurTailors {
        font-size: 45px;
    }

}