@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,500&family=Great+Vibes&family=Gulzar&family=Inter:wght@600;700;800;900&family=Josefin+Sans:ital,wght@0,100;0,300;0,600;0,700;1,100;1,600;1,700&family=Katibeh&family=Montserrat:ital,wght@0,100;0,400;1,100;1,400&family=Space+Grotesk:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    background-color: #0b1416;
}



.Nav-Bar {
    background-color: white;
    display: flex;

    margin: auto;
    margin-top: 0px;
    margin-right: 0px;


    height: 90px;
    width: 90%;
    z-index: 1;
}


#Logo {
    color: black;
    font-size: 40px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

    margin: auto;
    margin-left: 0px;
}


.Nav-link-Container {
    /* background-color: #463f33;
    border-radius: 20px;

    padding: 8px; */
    gap:50px;

    display: flex;

    margin: auto;
    width: auto;
}

#NavLink {
    color: black;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
}

#NavLink:visited {
    color: black;
}

#NavLink:active {
    color: black;
}

#NavLink:hover {
    transform: scale("");
    color: #c6a16e;
}


#Visit-Us {
    background-color: #c6a16e;

    display: flex;

    margin: auto;
    margin-right: 0px;

    height: 100%;
    width: 240px;
}

#Visit-Us a {
    margin: auto;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#menuIcon {
    margin: auto;
    margin-right: 20px;

    height: 30px;

    display: none;
}




.Hero {
    background-color: white;

    display: flex;
    flex-direction: column;

    margin: auto;

    position: relative;

    height: 560px;
    width: 100%;
}

.Big-Hero-Board {
    background-image: url('../../../Assets/Images/Gallery/hero.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


    display: flex;
    flex-direction: column;

    position: absolute;

    top: 90px;
    right: 0;

    height: 800px;
    width: 90%;
}

.discoverCard {
    display: flex;
    flex-direction: column;

    position: absolute;

    left: 125px;
    top: 220px;

}

#slogan {
    color: white;
    font-size: 100px;
    font-family:'Josefin Sans', sans-serif;
    font-weight: 700;

    line-height: 1.5em;
}

.miniSlogan {
    display: flex;

    margin: auto;
    margin-left: 0px;
}

#longGoldDash {
    height: 20px;
    width: 70px;

    margin: auto;
    margin-right: 20px;
}

#PFYP {
    color: #c6a16e;
    font-size: 35px;
    font-weight: 400;
    font-family: 'Great Vibes', cursive;
}

@media only screen and (max-width: 1300px) {
    #Visit-Us {
        display: none;
    }
}

@media only screen and (max-width: 1050px) {
    .Nav-Bar {
        width: 95%;
        height: 70px;
    }
    
    .Nav-link-Container {
        display: none;
    }

    #menuIcon {
        display: block;
        margin-right: 50px;
    }

    .Big-Hero-Board {
        top: 70px;
        height: 550px;
        width: 95%;
    }

    .discoverCard {
       left: 125px;
        top: 120px;
    }

    #slogan {
        font-size: 45px;
    } 

    .Hero {
        height: 500px;
        background-color: white;
    }
}

@media only screen and (max-width: 768px) {
    .Nav-Bar {
        width: 100%;
        height: 70px;
        position:fixed;
    }

    #Logo {
        margin-left: 50px;
    }
    
    .Nav-link-Container {
        display: none;
    }

    #menuIcon {
        display: block;
        margin-right: 50px;
    }

    .Big-Hero-Board {
        top: 70px;
        height: 450px;
        width: 100%;
    }

    .discoverCard {
       left: 125px;
        top: 120px;
    }

    #slogan {
        font-size: 45px;
    } 

    .Hero {
        height: 500px;
        background-color: white;
    }
}

@media only screen and (max-width: 619px) { 
    .discoverCard {
        left: 100px;
    }
}

@media only screen and (max-width: 504px) { 
    
    
    .discoverCard {
        left: 70px;
    }

    #slogan {
        font-size: 35px;
    } 

    #PFYP {
        font-size: 25px;
    }
    
    #longGoldDash {
        width: 40px;
        margin-top: 10px;
    }


}

@media only screen and (max-width: 360px) { 
    .discoverCard {
        left: 50px;
    }

    #slogan {
        font-size: 35px;
    } 

    #PFYP {
        font-size: 25px;
    }
    
    #longGoldDash {
        width: 40px;
        margin-top: 10px;
    }


}